.mb-0 {
    margin-bottom: 0!important;
}
.mb-1 {
    margin-bottom: 0.25rem!important;
}
.ms-3 {
    margin-left: 1rem!important;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
.mb-5 {
    margin-bottom: 3rem!important;
}

.justify-content-center {
    justify-content: center!important;
}

p {
    margin-top: 0;
    line-height: 1.7;
}

.contact-icon {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 20px; 
}
.text-primary {
        color: #1f61eb !important;
}
.bg-soft-primary {
    background-color: rgba(31, 97, 235, 0.15) !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.subtitle {
    color: #343a40;
    text-transform: uppercase;
    font-weight: normal;
}

.title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 18px;
    line-height: 1.3;
}

.d-flex {
    display: flex!important;
} 

.ms-3 {
    margin-left: 1rem;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.fs-18 {
    font-size: 18px;
}

.card {
    border: none;
    box-shadow: 0 5px 20px rgba(52, 58, 64, 0.1);
}
.col-lg-7 {
    box-sizing: border-box;
}