
@import url(./variable.less);

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Mandali', sans-serif;

}
header {
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    // background-color: black;
    justify-content: center;
}
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1124px;
    height: 78px;   
    font-weight: 500; 
    opacity: 1;
    img {
        width: 129px; 
        height: 24px;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav-link {
        display: flex;
        list-style: none;
        width: 680px;
        height: 38px; 
        padding: 0px;
        margin-left: 102px;
        margin-right: 102px;
        margin-top: 24px;
        .nav-item  {
            flex: 1 1 auto;
            text-align: center;
            a {
            display: inline-block;
            text-align: center;
            }
        }
    }
    ul.login {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0px;
        width: 170px;
        bottom: 0px;
        margin-top: 24px;
        height: 38px;
        .nav-item-login {
            height: 38px;
            margin: 0px 18px;
            width: 20%;
        }
        .nav-item-signup {
            text-align: center;
            background-color: rgba(231, 231, 231, 0.1);
            border-radius: 3px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            flex: 1 0 auto;
            height: auto;
            padding: 0  px;
            transition: ease-in-out 0.4s;
            a {
                color:  rgba(243, 243, 243, 1);
            }
        }

    }
}

a {
    text-decoration: none;
    color:  rgba(243, 243, 243, 0.7);
    transition: ease-in-out 0.4s ;
}

// effect start
.navbar a:hover {
    color: rgb(255, 255, 255, 1);

}

#nav-item-signup:hover {
    background-color: white;
    a {
        color: @main-color;
    }
}
.navbar-2 {
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 10px 5%;   
    z-index: 9999;
    opacity: 0;
    img {
        width: 129px; 
        height: 24px;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav-btn {
        border: 1px solid rgba(231, 231, 231, 1);
        font-size: 24px;
        height: 34px;
        padding: 0px 10px 4px 10px;
        text-align: center;
        border-radius: 5px;

    }
}
// effect end


// responsive start

@media  (min-width: 992px) and (max-width: 1200px) {
    .navbar {
        max-width: 950px;
        justify-content: space-between;
        transition: 0.5s ease-in-out;
        .nav-link {
            margin-left: 10px;
            margin-right: 10px;
        }
        ul.login , img {
            flex: 1 1 auto;
        }
}
}

@media   (min-width: 576px) and (max-width: 992px) {
    .navbar {
        // display: none;
        opacity: 0;

}
    .navbar-2 {
        // display: flex;
        position: absolute;
        opacity: 1;
        padding: 10px 10%;
        transition: 0.5s ease-in-out;
    }
}

@media  (max-width: 576px) {
    .navbar {
        // display: none;
        opacity: 0;

}
    .navbar-2 {
        // display: flex;
        position: absolute;
        opacity: 1;
        padding: 10px 10%;
        transition: 0.5s ease-in-out;
    }
}
// responsive end