body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: mandali;
}
.working-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 90px 0px;
}
.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.main-container .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 40%;
  height: auto;
}
.main-container .content-container .item-list {
  margin: 0px;
  font-weight: 400;
  color: #343a40;
}
.main-container .content-container h1 {
  margin: 0px;
  font-size: 30px;
  font-weight: 800;
  color: #343a40;
}
.main-container .content-container p {
  margin: 0px;
  color: #6c757d;
}
.main-container .process-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1024px;
  height: auto;
}
.main-container .process-container img {
  align-self: center;
}
.main-container .process-container .item-list {
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.main-container .process-container h1 {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  color: #343a40;
}
.main-container .process-container p {
  margin: 0px;
  color: #6c757d;
}
.main-container .process-container .background-icon {
  font-size: 36px;
  color: #343a40;
  width: 96px;
  height: 96px;
  border-radius: 70% 20% 64% 76%/70% 20% 60% 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .process-container #bg-icon-1 {
  background-color: rgba(31, 97, 235, 0.15);
}
.main-container .process-container #bg-icon-2 {
  background-color: rgba(28, 225, 172, 0.15);
}
.main-container .process-container #bg-icon-3 {
  background-color: rgba(255, 194, 18, 0.15);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main-container .process-container {
    max-width: 860px;
  }
  .main-container .process-container .item-list p,
  .main-container .process-container h1 {
    padding: 0px 20px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .main-container .process-container {
    flex-direction: column;
    gap: 80px;
  }
  .main-container .process-container img {
    display: none;
  }
  .main-container .process-container .item-list {
    width: 100%;
  }
  .main-container .content-container {
    max-width: 60%;
  }
}
@media (max-width: 576px) {
  .main-container .process-container {
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
  .main-container .process-container img {
    display: none;
  }
  .main-container .process-container .item-list {
    width: 100%;
    padding: 0px 0px;
  }
  .main-container .content-container {
    max-width: 80%;
  }
}
