.hh6{
    color: #34393d;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
}
.span-h6{
    font-weight: 700;
    color: #070606;
}
.hh6{
    text-align: center;
    padding: auto;
    margin: 8px 0;
}
.h-2{
    text-align: center;
    color: #343a40;
    font-size: 35px;
    margin: 0;
    
}
.-p{
    text-align: center;
    color: #6c757d;
    font-size: 16px;
}
.phanchu{
    padding: 20px 500px;
}
.baner{
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
}
.anhcon img{
    width: 204.571px;
    height: 479.9px;
    margin: 40px 20px;
}
.anhcon img{
    border: 2px solid;
    border-radius: 15px;
    color: #fff;
}